In [90]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
import os

In [91]:
# create dictionary 
final_data = {}

In [92]:
team = 'Golden State Warriors'

In [93]:
#obtain list of dates
directory = team
list_dates = []
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        list_dates.append(filename)

In [94]:
# reads in each csv
for i in list_dates:
    data = pd.read_csv(f"{team}/{i}", index_col=0)
    
    #gathers data and adds to dict
    date = data["Date"].tolist()[0]
    data[date] = data["Score"]
    final_data[date] = data[date]

In [95]:
# convert dict to dataframe
data_df = pd.DataFrame(final_data)

In [96]:
data_df

,10/11/2022,09/30/2022,10/02/2022,10/14/2022,10/09/2022
Andrew Wiggins,NaN,16.50,16.25,19.75,19.75
Anthony Lamb,19.25,NaN,NaN,1.25,7.25
Donte DiVincenzo,31.25,21.75,6.00,12.50,15.75
Draymond Green,NaN,16.50,18.25,18.00,NaN
JaMychal Green,35.00,7.75,8.75,NaN,15.25
James Wiseman,30.25,33.75,13.25,28.00,20.50
Jerome Robinson,14.00,9.75,NaN,8.00,NaN
Jonathan Kuminga,15.75,9.75,13.00,38.00,23.00
Jordan Poole,NaN,16.25,8.25,10.75,46.50
Kevon Looney,NaN,13.75,16.75,18.75,22.00
Klay Thompson,NaN,NaN,NaN,26.25,NaN
Lester Quinones,13.75,7.50,NaN,NaN,NaN
Mac McClung,NaN,NaN,19.00,NaN,NaN
Moses Moody,32.75,11.75,15.00,NaN,9.00
Pat Spencer,23.25,NaN,14.25,4.75,3.25
Patrick Baldwin Jr.,12.25,8.75,26.00,15.75,8.25
Quinndary Weatherspoon,11.25,10.75,5.25,NaN,5.75
Ryan Rollins,23.50,14.00,5.00,12.50,NaN
Stephen Curry,NaN,11.25,27.75,24.00,34.50
Trevion Williams,NaN,3.75,12.50,NaN,NaN
Ty Jerome,11.50,NaN,NaN,NaN,2.50

In [97]:
#create dict
final_result = {}

In [98]:
#iterate through index
for name in data_df.index:
    #create linear regression model 
    model = LinearRegression()
    
    # get dataframe with each name 
    finder = data_df[data_df.index == name]
    
    #obtain length of dataset
    X = []
    for x in range(len(finder.columns)):
        X.append(x)
        
    #get stats for each player    
    stats = data_df[data_df.index == name].values
    
    # create dataframe for each player
    XX = pd.DataFrame(X)
    XX["Score"] = stats[0]
    XX.dropna(inplace=True)
    length = len(XX[0])
    
    #reshape values
    X_values = XX[0].values.reshape(-1, 1)
    
    #fit linear regression model
    model.fit(X_values, XX["Score"])
    #predict next game
    predict = [length]
    
    #create dataframe of final prediction and add to dict
    prediction = pd.DataFrame(predict)
    prediction[0].values.reshape(-1,1)
    final_prediction = model.predict(prediction[0].values.reshape(-1,1))
    final_result[name] = final_prediction[0]

In [99]:
# convert dict to dataframe
Data = pd.DataFrame.from_dict(final_result, orient='index')

In [100]:
Data

                                0
Andrew Wiggins          20.050000
Anthony Lamb             6.788462
Donte DiVincenzo         5.375000
Draymond Green          18.333333
JaMychal Green           8.828571
James Wiseman           17.575000
Jerome Robinson          7.517857
Jonathan Kuminga        32.725000
Jordan Poole            34.425000
Kevon Looney            21.825000
Klay Thompson           26.250000
Lester Quinones          1.250000
Mac McClung             19.000000
Moses Moody              6.292857
Pat Spencer              2.050000
Patrick Baldwin Jr.     13.900000
Quinndary Weatherspoon   4.778571
Ryan Rollins             3.250000
Stephen Curry           34.275000
Trevion Williams        12.500000
Ty Jerome                7.000000

In [101]:
# convert dataframe to csv
mypath = "Final_Score"
if not os.path.isdir(mypath):
    os.makedirs(mypath)
Data.to_csv(f"{mypath}/{team}.csv", index=True)