In [2]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
import os

In [3]:
# list of dates to read in datasets
list_dates = ["05-19", "05-21", "05-23", "05-25", "05-27", "05-29", "06-02", "06-05", "06-08", "06-10", "06-13"]

In [4]:
# create dictionary 
final_data = {}

In [5]:
# reads in each csv
for i in list_dates:
    data = pd.read_csv(f"Boston Celtics/{i}.csv", index_col=0)
    
    #gathers data and adds to dict
    date = data["Date"].tolist()[0]
    data[date] = data["Score"]
    final_data[date] = data[date]

In [6]:
# convert dict to dataframe
data_df = pd.DataFrame(final_data)

In [10]:
pd.DataFrame.transpose(data_df)

,Aaron Nesmith,Al Horford,Daniel Theis,Derrick White,Grant Williams,Jaylen Brown,Jayson Tatum,Juwan Morgan,Luke Kornet,Malik Fitts,Marcus Smart,Nik Stauskas,Payton Pritchard,Robert Williams III,Sam Hauser
05/19/2022,1.25,21.75,4.75,NaN,27.00,40.00,43.25,2.25,4.50,NaN,63.25,7.75,18.50,17.50,NaN
05/21/2022,0.00,48.00,5.25,8.00,20.75,54.75,21.00,1.25,0.00,0.0,30.00,3.50,9.50,NaN,NaN
05/23/2022,10.25,34.25,7.75,39.00,16.25,23.75,51.50,0.00,NaN,0.0,NaN,2.00,26.00,27.25,NaN
05/25/2022,0.00,38.25,NaN,27.25,12.50,36.00,49.00,0.00,0.00,0.0,17.25,0.00,1.25,26.50,NaN
05/27/2022,0.00,20.75,NaN,43.25,6.50,37.50,51.75,NaN,NaN,NaN,25.00,NaN,0.00,18.75,NaN
05/29/2022,NaN,33.50,NaN,14.75,19.50,39.00,54.50,NaN,NaN,NaN,47.75,NaN,0.00,6.75,NaN
06/02/2022,0.00,42.00,5.50,28.25,8.25,45.25,39.25,0.00,NaN,0.0,36.25,0.00,19.50,24.50,0.0
06/05/2022,11.50,14.50,9.25,25.50,11.25,29.50,43.00,NaN,3.50,3.5,11.50,8.75,13.50,10.00,5.0
06/08/2022,1.25,34.50,NaN,14.75,18.25,48.75,49.50,0.00,NaN,0.0,39.25,0.00,4.50,34.50,0.0
06/10/2022,NaN,24.00,NaN,20.75,4.75,33.50,52.75,NaN,NaN,NaN,39.00,NaN,1.75,34.00,NaN
06/13/2022,4.25,21.75,NaN,8.75,11.25,34.75,46.00,1.25,4.75,NaN,26.25,0.00,0.75,23.00,1.5

In [8]:
#create dict
final_result = {}

In [9]:
pd.read_csv("Team_defensive_efficency.csv")

      Unnamed: 0   2021  Last 3  Last 1   Home   Away   2020
0         Boston  1.036   1.064   1.054  1.035  1.036  1.097
1   Golden State  1.042   0.952   0.921  1.012  1.075  1.068
2        Memphis  1.052   0.977   1.069  1.034  1.069  1.083
3          Miami  1.052   1.015   0.991  1.051  1.053  1.083
4        Phoenix  1.053   1.115   1.328  1.048  1.059  1.079
5      Cleveland  1.065   1.113   1.135  1.045  1.085  1.110
6    LA Clippers  1.069   1.020   1.111  1.059  1.080  1.089
7       New York  1.070   0.986   0.931  1.073  1.066  1.051
8         Dallas  1.070   1.190   1.273  1.039  1.099  1.103
9           Utah  1.073   1.067   1.055  1.057  1.089  1.068
10       Toronto  1.074   1.099   1.398  1.073  1.075  1.089
11     Milwaukee  1.075   1.093   1.078  1.068  1.081  1.075
12  Philadelphia  1.076   1.110   1.028  1.069  1.082  1.045
13     Minnesota  1.080   1.076   1.130  1.041  1.119  1.113
14   San Antonio  1.090   1.150   1.145  1.104  1.075  1.095
15       Orlando  1.092   1.146   1.092  1.092  1.092  1.113
16      Brooklyn  1.093   1.172   1.165  1.092  1.094  1.098
17     Okla City  1.095   1.317   1.374  1.092  1.097  1.110
18        Denver  1.095   1.127   1.064  1.109  1.082  1.100
19   New Orleans  1.097   1.146   1.213  1.096  1.097  1.104
20     LA Lakers  1.100   1.118   1.193  1.075  1.126  1.042
21       Detroit  1.101   1.237   1.170  1.079  1.122  1.092
22       Chicago  1.102   1.126   1.091  1.103  1.101  1.090
23     Charlotte  1.105   1.173   1.241  1.080  1.129  1.098
24    Washington  1.111   1.189   1.210  1.104  1.118  1.100
25       Atlanta  1.112   1.099   1.004  1.104  1.120  1.094
26    Sacramento  1.119   1.149   1.056  1.111  1.127  1.138
27       Indiana  1.124   1.253   1.247  1.122  1.126  1.091
28       Houston  1.131   1.187   1.307  1.132  1.130  1.116
29      Portland  1.132   1.234   1.100  1.116  1.149  1.129

In [8]:
#iterate through index
for name in data_df.index:
    #create linear regression model 
    model = LinearRegression()
    
    # get dataframe with each name 
    finder = data_df[data_df.index == name]
    
    #obtain length of dataset
    X = []
    for x in range(len(finder.columns)):
        X.append(x)
        
    #get stats for each player    
    stats = data_df[data_df.index == name].values
    
    # create dataframe for each player
    XX = pd.DataFrame(X)
    XX["Score"] = stats[0]
    length = len(XX[0])
    XX.dropna(inplace=True)
    
    #reshape values
    X_values = XX[0].values.reshape(-1, 1)
    
    #fit linear regression model
    model.fit(X_values, XX["Score"])
    #predict next game
    predict = [length]
    
    #create dataframe of final prediction and add to dict
    prediction = pd.DataFrame(predict)
    prediction[0].values.reshape(-1,1)
    final_prediction = model.predict(prediction[0].values.reshape(-1,1))
    final_result[name] = final_prediction[0]

In [11]:
# convert dict to dataframe
Data = pd.DataFrame.from_dict(final_result, orient='index')

In [12]:
Data

                             0
Aaron Nesmith         4.820482
Al Horford           23.668182
Daniel Theis          9.414948
Derrick White        15.583333
Grant Williams        6.704545
Jaylen Brown         36.168182
Jayson Tatum         51.604545
Juwan Morgan          0.159281
Luke Kornet           4.322034
Malik Fitts           1.953815
Marcus Smart         26.024975
Nik Stauskas          0.460204
Payton Pritchard      1.009091
Robert Williams III  26.450758
Sam Hauser            1.485714

In [193]:
# convert dataframe to csv
mypath = "Final_Score"
if not os.path.isdir(mypath):
    os.makedirs(mypath)
Data.to_csv(f"{mypath}/BostonCeltics.csv", index=True)