In [15]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
import os

In [16]:
# create dictionary 
final_data = {}

In [17]:
team = 'Dallas Mavericks'

In [18]:
#obtain list of dates
directory = team
list_dates = []
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        list_dates.append(filename)

In [19]:
# reads in each csv
for i in list_dates:
    data = pd.read_csv(f"{team}/{i}", index_col=0)
    
    #gathers data and adds to dict
    date = data["Date"].tolist()[0]
    data[date] = data["Score"]
    final_data[date] = data[date]

In [20]:
# convert dict to dataframe
data_df = pd.DataFrame(final_data)

In [21]:
data_df

                     10/22/2022
Reggie Bullock            14.75
Dorian Finney-Smith       18.75
JaVale McGee              18.50
Spencer Dinwiddie         20.50
Luka Doncic               64.25
Christian Wood            46.00
Tim Hardaway Jr.          22.50
Maxi Kleber               23.50
Josh Green                 6.50
Dwight Powell              2.50
Theo Pinson                6.00
Jaden Hardy                0.25
McKinley Wright IV         9.50
Tyler Dorsey              12.00

In [22]:
#create dict
final_result = {}

In [23]:
#iterate through index
for name in data_df.index:
    #create linear regression model 
    model = LinearRegression()
    
    # get dataframe with each name 
    finder = data_df[data_df.index == name]
    
    #obtain length of dataset
    X = []
    for x in range(len(finder.columns)):
        X.append(x)
        
    #get stats for each player    
    stats = data_df[data_df.index == name].values
    
    # create dataframe for each player
    XX = pd.DataFrame(X)
    XX["Score"] = stats[0]
    XX.dropna(inplace=True)
    length = len(XX[0])
    
    #reshape values
    X_values = XX[0].values.reshape(-1, 1)
    
    #fit linear regression model
    model.fit(X_values, XX["Score"])
    #predict next game
    predict = [length]
    
    #create dataframe of final prediction and add to dict
    prediction = pd.DataFrame(predict)
    prediction[0].values.reshape(-1,1)
    final_prediction = model.predict(prediction[0].values.reshape(-1,1))
    final_result[name] = final_prediction[0]

In [24]:
# convert dict to dataframe
Data = pd.DataFrame.from_dict(final_result, orient='index')

In [25]:
Data

                         0
Reggie Bullock       14.75
Dorian Finney-Smith  18.75
JaVale McGee         18.50
Spencer Dinwiddie    20.50
Luka Doncic          64.25
Christian Wood       46.00
Tim Hardaway Jr.     22.50
Maxi Kleber          23.50
Josh Green            6.50
Dwight Powell         2.50
Theo Pinson           6.00
Jaden Hardy           0.25
McKinley Wright IV    9.50
Tyler Dorsey         12.00

In [26]:
# convert dataframe to csv
mypath = "Final_Score"
if not os.path.isdir(mypath):
    os.makedirs(mypath)
Data.to_csv(f"{mypath}/{team}.csv", index=True)